table {
    width: 100%;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .spacer{
    flex: 1 1 auto;
   }
   .u-flex-expand-left {
    margin-right:auto !important;
}