<div class="example-flex-container">
    <mat-toolbar color="primary">
        <span>Budget Approval</span>
        <span class="example-spacer"></span>
        <div>
            <a mat-button routerLink="/emphome">
                <mat-icon class="mat-icon">home</mat-icon>Home &nbsp;
            </a>
            <a mat-button routerLink="/emprequests">
                <mat-icon class="mat-icon">assignment</mat-icon>Requests &nbsp;
            </a>
            <a mat-button routerLink="/emphistory">
                <mat-icon class="mat-icon">history</mat-icon>History &nbsp;
            </a>
            <a mat-button routerLink="/emphome">
                <mat-icon class="mat-icon">person</mat-icon>Hi, Aditya &nbsp;
            </a>
            <a mat-button (click)="logOut()">
                <mat-icon class="mat-icon" >logout</mat-icon>Log Out &nbsp;
            </a>
        </div>

    </mat-toolbar>
</div>