<!-- 
<div mat-dialog-title>
    <div class="close_btn">
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <h1 class="title">Login</h1>
  </div>

  <form  #myForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(myForm)" >
  <mat-dialog-content>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input  type="firstName"  name="firstName" class="form-control margin-b" id="floatingInput" placeholder="Email address" required="" ngModel>
      </mat-form-field>
   
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input  type="password"  name="password" class="form-control margin-b" id="floatingPassword" placeholder="*********" required="" ngModel>
      
    </mat-form-field>
    <button style="border-radius:50px;" type="submit" class="form-button button-l margin-b">Sign In</button> 
    <button mat-raised-button color="primary" type="submit">Login</button>

    <a href="">Forgot Password?</a><br>
    <a href="registration">New User?</a> 
  </mat-dialog-content>
</form> -->
<div style="width: 350px;">
<div mat-dialog-title>
  <div class="close_btn">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 class="title">Login</h1>
</div>

<form  #myForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(myForm)">
  <mat-dialog-content>
  <!-- <div class="example-full-width"> -->
    <div class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>&nbsp;
    <input class="example-full-width" type="firstName" name="firstName" id="floatingInput" placeholder="Email address" required="" ngModel>
    </div>&nbsp;
    
  <div class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>&nbsp;
    <input class="example-full-width" type="password" name="password"  id="floatingPassword" placeholder="*********" required="" ngModel>
  </div>
  <br>

  <button mat-raised-button color="primary" type="submit">Sign In</button>
<br>
  <small>Do not have an account?</small>
  <a class="text-darkyellow" href="#"><small>Sign Up</small></a>
</mat-dialog-content>
</form>
</div>