<h1 mat-dailog-title>add product</h1>
<div mat-dailog-content>
    <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Product Category</mat-label>
        <mat-select placeholder="Category">
            <mat-option value="Fruits">Fruits</mat-option>
            <mat-option value="Vegetables">Vegetables</mat-option>
            <mat-option value="Electronic">Electronic</mat-option>
        </mat-select>
    </mat-form-field> 
</div>